@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.register-container-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  h2 {
    font-family: 'Rufina: 700', serif;
    font-size: 2em;
  }

  .container-register-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 55%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #5454544d;

    label {
      text-align: left;
      font-family: 'Open Sans', sans-serif;
    }
    .register-user-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      height: 100%;

      .register-user-container-input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 15px;

        .register-user-label {
          font-size: 18px;
          width: 40%;
        }
        .register-user-input {
          font-size: 16px;
          border: none;

        }
      }
      .register-user-submit {
        margin: 10px;
        border: none;
        padding: 5px 0;
        font-size: 18px;
        background: #545454;
        border-radius: 5px;
        width: 30%;
        font-family: 'Rufina', serif;
        color: white;
      }
      .register-user-submit:active {
        transform: scale(.95);
      }
      .nav-link-log {
        font-family: 'Rufina', serif;
        text-decoration: none;
        color: black;
        margin: 10px;
        padding: 5px 0;
        font-size: 18px;
        border: 1px solid black;
        border-radius: 5px;
        width: 30%;
      }
      .nav-link-log:active {
        transform: scale(.95);
      }
    }
  }
}



