
.home-page-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  h1 {
    font-size: 2.8em;
    text-align: center;
  }
  .container-card-admin {
    display: flex;
    margin-top: 70px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;


  }

}