.navbar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: red;

  .nav-link {
    text-decoration: none;
    color: black;
  }

  h1{
    margin: 0;
    font-size: 2.6em;
    margin-left: 15px;
  }
  .navbar-button-container{
    display: flex;
    .nav-link{
      display: flex;
      text-decoration: none;
      color: black;
      margin: 0 25px ;
    }
  }
  .burger{
    display: flex;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
  }
}

.close {
  transition: opacity 2s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 10%;
  position: absolute;
  right: 0;
  background-color: red;
  color: black;
  .nav-link{
    display: flex;
    text-decoration: none;
    color: black;
  }
  h2 {
    text-align: justify;
    margin-left: 20px;
  }
}

.open{
  transition: opacity 2s ease-in-out;
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 10%;
  position: absolute;
  right: 0;
  background-color: red;
  color: black;
  .nav-link{
    display: flex;
    text-decoration: none;
    color: black;
  }
  h2 {
    text-align: justify;
    margin-left: 20px;
  }
}

